In [15]:
# CPSC415/515 Big Data Programming
# Project 3: Visualization and Prediction of heart attacks
# Group: Cody Bauer, Demyre Ramp

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

heart_analysis_file_name = "heart.csv"

In [17]:
def load_data():
    
    # Load the CSV data into a DataFrame
    df = pd.read_csv(heart_analysis_file_name)
    
    # Rename health parameters
    df.columns = ["Age", "Sex", "Pain", "RBP", "Chol", "FBS", "RECG", "Max HR", "EXNG", "Old Peak", "Slope", "CAA", "Thalium", "Heart Attack"]
    
    return df

data_cleaned = load_data()
data_cleaned

,Age,Sex,Pain,RBP,Chol,FBS,RECG,Max HR,EXNG,Old Peak,Slope,CAA,Thalium,Heart Attack
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0